@import 'tailwindcss';
@plugin '@tailwindcss/typography';

@plugin 'daisyui';

@plugin "daisyui/theme" {
  name: "ose";
  color-scheme: "dark";
  --color-base-100: oklch(20.768% 0.039 265.754);
  --color-base-200: oklch(19.314% 0.037 265.754);
  --color-base-300: oklch(17.86% 0.034 265.754);
  --color-base-content: oklch(84.153% 0.007 265.754);
  --color-primary: #00ffff;
  --color-primary-content: oklch(15.07% 0.027 232.661);
  --color-secondary: oklch(49% 0.27 292.581);
  --color-secondary-content: oklch(13.602% 0.031 276.934);
  --color-accent: oklch(54% 0.245 262.881);
  --color-accent-content: oklch(14.472% 0.035 350.048);
  --color-neutral: oklch(27.949% 0.036 260.03);
  --color-neutral-content: oklch(85.589% 0.007 260.03);
  --color-info: oklch(68.455% 0.148 237.251);
  --color-info-content: oklch(0% 0 0);
  --color-success: oklch(79% 0.209 151.711);
  --color-success-content: oklch(15.69% 0.026 181.911);
  --color-warning: oklch(83.242% 0.139 82.95);
  --color-warning-content: oklch(16.648% 0.027 82.95);
  --color-error: oklch(64% 0.246 16.439);
  --color-error-content: oklch(14.357% 0.034 13.118);
  --radius-selector: 2rem;
  --radius-field: 1rem;
  --radius-box: 0.25rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 0;
}

